<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/TTA_WorkSpace/ATB6xKatalonCuraHS/src/test/java/com/thetestingacademy/login/Login.java">
        <classes>
            <class name="com.thetestingacademy.login.Login">
                <methods>
                    <include name="loginPosTC"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>